.subtotal{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color:#F3F3F3;
    background: #F3F3F3;
    width: 250px;
    height: 95px;
    padding: 15px;
}

.subtotal__gift{
    margin: 10px;
}

.subtotal__checkOutButton{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    line-height: 2;
    border-radius: 2px;
}